.popup {
  display: none;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  align-content: center;
  z-index: 1;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

.popup__button_close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.popup__button_close-image {
  position: absolute;
  background-image: url(../images/close_icone_image.png);
  top: 20px;
  right: 10px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.popup__form,
.popup__add {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 430px;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  padding-bottom: 20px;
}

.popup__subtitle {
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  margin: 0 36px;
  padding: 34px 0 20px;
}

.popup__content {
  width: 90%;
  max-width: 360px;
  margin: auto;
  border: 0;
  padding: 0;
}

.popup__input {
  display: flex;
  width: 100%;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.popup__input_name,
.popup__input_about {
  width: 100%;
  height: 27px;
  border: 1px;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.popup__button_save,
.popup__button_add {
  width: 100%;
  background-color: #000;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-family: "Inter-Black", sans-serif;
}

.popup__container_image {
  max-width: fit-content;
  position: relative;
  margin: auto;
}

.popup__image {
  justify-content: center;
  width: 100%;
  max-width: 400px
}

.popup__caption {
  color: #fff;
  font-size: "Inter-Black", sans-serif; ;
}